# temp files from editors
*~
*.bak
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
.idea/
nbproject/
.vscode

# hidden files created by Windows
Thumbs.db
desktop.ini

.directory

config.json