* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  box-shadow:inset 0 -10px 0 rgb(0, 161, 0), inset 0 10px 0 rgb(0, 161, 0);
  font-family: "Poppins", sans-serif;
  font-weight: normal !important;
}

h4 {
  font-weight: normal;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}

.logo {
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2px;
  margin: 5px;
  background-color: black;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    background-color: white;
  }

  .nav-links li {
    opacity: 1;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.personal-info {
  text-align: center;
  font-size: 20px;
}

#portfolio-image {
  width: 203px;
  height: 203px;
  border-radius: 50%;
  margin-top: 5%;
  max-width: 100%;
}

.personal-links {
  display: flex;
  justify-content: space-around;
  width: 20%;
  margin-left: 40%;
  margin-top: 2%;
}

.personal-links li {
  list-style: none;
}

.footer {
  text-align: center;
  padding-top: 25.9rem;
  max-width: 100%;
  height: auto;
}

/*.bottom-grid {*/
/*  background-color: rgb(0, 161, 0);*/
/*  max-width: 100%;*/
/*  min-height: 1vh;*/
/*  height: auto;*/
/*}*/

.project-parnote a {
  margin-left: 39vh;
}

.cv a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
img{
  margin-bottom: 7px;
}

.text-center{
  text-align: center;
}

.error404 {
  font-size: 36px;
}